/* General Formatting */
html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

body {
	background-color: #edeef2;
	margin: 0;
}

img {
	max-width: 90%;
}

/* Micro Clearfix */
.group:before,
.group:after {
     content: "";
     display: table;
}
.group.after {
     clear: both;
}

/* Group Selectors */
#sidebar, #posts {
	margin: 3%;
	padding: 0% 1%;
}

#sidebar, .post {
	background-color: #FFF;
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,.5);
}

/* Sidebar */
#sidebar {
	float: left;
	position: static;
	max-width: 15%;
	/* Bug: border-radius are both in em, not %. */
	border-radius: 3em 0em;
}

#sidebar-icon {
    max-width: 100%;
    border-radius: 3em 0em;
}

.nav li {
	list-style-type: none;
	margin-left: -40px;
}

#sidebar p {
	font-size: .8em;
}

/* Page Navigation */

#pagination li {
	/* Bug: can't get navigation text to center vertically (between the two icons).
	Tried to remedy this by adding a span and ID, then a selector (commented out below.) */
	/* Bug: navigation isn't centering properly in the sidebar. */
	list-style-type: none;
	display: inline;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15%;
}

#pagination img {
	max-width: 25%;
	padding: 0% 5% 5% -5%;
}

/*#page_numbers {
	vertical-align: center;
}*/

/* Global Post Rules */

#posts {
	float: right;
	max-width: 69%;
}

#posts > li {
	list-style-type: none;
}

/* Post-Specific Rules */
.post {
	padding: 1% 3%;
	margin: 0% 1% 10% 1%;
	border-radius: 0em 3em 0em 3em;
}

/* Anchors */
a {
	text-decoration: none;
	font-variant: small-caps;
	color: #d6008b;
}

a:visited {
	color: #6200b8;
}

/* Media Queries */
@media screen and (max-width: 941px) {
	#sidebar {
		padding: 0% 1.5%;
	}

	/* Hides "About" text, leave navigation. */
	.about p, h2{
		display: none;
	}
}

@media screen and (max-width: 480px) {
	/* Changes navigation to top navigation. */
	#sidebar {
		position: static;
		max-width: 90%;
		box-shadow: none;
		margin: -1% 1% 1% 2%;
		padding: 1% 3%;
	}

	/* Bug: How to change the sidebar image so it's wider and shorter, without changing the image itself? (Changing frame to hide it.)
	#sidebar img {
	} */

	.nav li {
		text-align: center;
		border-top: 1px solid gray;
		padding: 3%;
	}

	#pagination {
		display: none;
	}
}